<!doctype html>
<html lang="ko">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <title>모두의 재활</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  </head> 

  <style>
    
    .container::-webkit-scrollbar {
        width: 8px; height: 8px;  /* 스크롤바의 너비 */
    }
    
    .container::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: #217af4; /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }
    
    .container::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
    }


    .box::-webkit-scrollbar {
        width: 2px; height: 6px; /* 스크롤바의 너비 */
    }
    
    .box::-webkit-scrollbar-thumb {
        height: 30%; /* 스크롤바의 길이 */
        background: #217af4; /* 스크롤바의 색상 */
        
        border-radius: 10px;
    }
    
    .box::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
    }
  </style>

  <body>

    <div class="container-fluid">

        {% comment %} 메뉴 {% endcomment %}
        <nav class="navbar">
            <a href="{% url 'main' %}" class="navbar-brand">
                <div style="display: flex; height: 40px; margin-top:5px; margin-left:15px">
                    <img  src="/static/logo.png">
                    <img  src="/static/name.png">
                </div>
            </a>

            <div>
                <a href="{% url 'main' %}" class="navbar-brand">
                    <i class="fa fa-home fa-lg" aria-hidden="true"></i>   
                </a>
            </div>
        </nav>


        {% comment %} 로고 회사명 {% endcomment %}

        <div style="display: flex; justify-content: center; height: 94px; margin-bottom: 25px; margin-top: 45px;">
            <img class="img-fluid" style="display: flex; justify-content: center;" src="/static/new_name.jpg">
        </div>

        {% comment %} 지역 카테고리창 {% endcomment %}
        <div style="border: 2px solid #000; max-height: 200px;  overflow-y:auto; max-width: 700px" class="container">
            <div class="row">
              <div class="col">
                <div style="padding: 10px; width: 340px; display: flex;">
                    <i style="padding-top: 10px; padding-right: 10px; color:#808080" class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control" id="input1" type="search" value="" placeholder="지역명 입력" aria-label="Search" onKeypress="javascript:if(event.keyCode==13) {searchCity();}">
                </div>
              </div>
            </div>

            <div class="row" style="border-top: 1px solid rgb(95,95,95,0.3);">
                <div class="col-2">
                    {% for 도 in 도_광역시짝수 %}
                    <p style="cursor: pointer; margin-bottom: 10px;" class="city" value="city" id="{{ 도.이름 }}"><b>{{ 도.이름 }}</b></p>
                    {% endfor %}
                </div>
                <div style="border-right: 1px solid rgb(95,95,95,0.3);" class="col-2">
                    {% for 도 in 도_광역시홀수 %}
                    <p style="cursor: pointer; margin-bottom: 10px;" class="city" value="city" id="{{ 도.이름 }}"><b>{{ 도.이름 }}</b></p>
                    {% endfor %}
                </div>
                <div class="col-2 geo1 geo"></div>
                <div class="col-2 geo2 geo"></div>
                <div class="col-2 geo3 geo"></div>
                <div class="col-2 geo4 geo"></div>
            </div>
        </div>

        <div style=" display:flex;  justify-content:space-between; max-height: 200px; margin-top: 3px; max-width: 700px" class="container">
            <div class="box" style=" font-size: 14px; display:flex; overflow:auto; white-space:nowrap; margin-top: 14px; margin-right: 15px;">
                    <p style="margin-right: 5px; cursor: pointer;" onclick="reset();"><b>선택초기화</b><p/><i onclick="reset();" style="margin-right: 15px; cursor: pointer;" class="fa fa-repeat" aria-hidden="true"></i>
            </div>
            <div>
            <button type="button" style="height:41px; width:110px; margin-top: 8px;" id="button1" class="btn btn-primary">검색하기</button>
            </div>
        </div>

        
        {% comment %} 소개글 {% endcomment %}
        <div data-aos="zoom-in" style="display: flex; justify-content: center; margin-top: 10px;">
        <img class="img-fluid" style="display: flex; justify-content: center;" src="/static/info1.png">
        </div>

        <div data-aos="fade-up" style="display: flex; justify-content: center; margin-top: 70px; margin-bottom: 30px">
        <img class="img-fluid" style="display: flex; justify-content: center;" src="/static/info2.jpg">
        </div>

        <div data-aos="fade-up" style="display: flex; justify-content: center; margin-top: 70px; margin-bottom: 30px">
        <img class="img-fluid" style="display: flex; justify-content: center;" src="/static/info3.jpg">
        </div>
     
    </div>

        {% comment %} 푸터 {% endcomment %}
        <footer class="text-center text-white" style="background-color: #45637d;">
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                문의사항 : changeworldkorea@gmail.com <br> © 2022 Copyright: 모두의 재활
            </div>

        </footer>


    <script>

        var dictObject = {};

        //도시 클릭 후 지역 라디오버튼 활성화
        $(document).ready(function () {
            $("p[value='city']").click(function () {
                var city_name = $(this).attr('id');
                $('.city').css('color','#000');
                $('#' + city_name).css('color','#0080ff');
                $('.geo1').html('');
                $('.geo2').html('');
                $('.geo3').html('');
                $('.geo4').html('');
                var tag1 = "";
                var tag2 = "";
                var tag3 = "";
                var tag4 = ""
                var checked = "";
                var index = 0
                {% for 지 in 지역 %}
                    if (city_name == '{{지.도_광역시.이름}}') {
                        checked = "";
                        index++;

                        if('{{지.이름}}' in dictObject){ checked = "checked" }

                        if(index % 4 == 1){
                        tag1 += "<div value='city2' class='form-check'><input onclick='checkbox_click({{지.이름}},{{지.도_광역시.이름}});' class='form-check-input' type='checkbox' id='" + '{{지.이름}}' + "' " + checked +" ><label class='form-check-label' for='" + '{{지.이름}}' + "'>" + '{{지.이름}}' + "</label></div>"}
                        else if(index % 4 == 2){
                        tag2 += "<div value='city2' class='form-check'><input onclick='checkbox_click({{지.이름}},{{지.도_광역시.이름}});' class='form-check-input' type='checkbox' id='" + '{{지.이름}}' + "' " + checked +" ><label class='form-check-label' for='" + '{{지.이름}}' + "'>" + '{{지.이름}}' + "</label></div>"}
                        else if(index % 4 == 3){
                        tag3 += "<div value='city2' class='form-check'><input onclick='checkbox_click({{지.이름}},{{지.도_광역시.이름}});' class='form-check-input' type='checkbox' id='" + '{{지.이름}}' + "' " + checked +" ><label class='form-check-label' for='" + '{{지.이름}}' + "'>" + '{{지.이름}}' + "</label></div>"}
                        else if(index % 4 == 0){
                        tag4 += "<div value='city2' class='form-check'><input onclick='checkbox_click({{지.이름}},{{지.도_광역시.이름}});' class='form-check-input' type='checkbox' id='" + '{{지.이름}}' + "' " + checked +" ><label class='form-check-label' for='" + '{{지.이름}}' + "'>" + '{{지.이름}}' + "</label></div>"}
                    }
                {% endfor %}
                if(tag1 != null){
                $('.geo1').append(tag1);
                }
                if(tag2 != null){
                $('.geo2').append(tag2);
                }
                if(tag3 != null){
                $('.geo3').append(tag3);
                }
                if(tag4 != null){
                $('.geo4').append(tag4);
                }
        
            });     
        });


        //체크박스 클릭
        function checkbox_click(element1,element2) {
            
            if(element1.checked == true){
                $('.box').html('<p style="margin-right: 5px; cursor: pointer;" onclick="reset();"><b>선택초기화</b><p/><i onclick="reset();" style="margin-right: 15px; margin-top:5px; cursor: pointer;" class="fa fa-repeat" aria-hidden="true"></i>');
                dictObject[element1.id] = element2.id;
                for(var key in dictObject){
                    $('.box').append('<p class="checkList" value="'+ key +'" style="margin-right: 5px; cursor: pointer;"><b>'+ dictObject[key] +''+">"+''+ key +'</b><p/><i style="margin-right: 15px; margin-top:5px; cursor: pointer;" class="checkList fa fa-times" value="'+ key +'" aria-hidden="true"></i>');
                }
            }

            else{ 
                $('.box').html('<p style="margin-right: 5px; cursor: pointer;" onclick="reset();"><b>선택초기화</b><p/><i onclick="reset();" style="margin-right: 15px; margin-top:5px; cursor: pointer;" class="fa fa-repeat" aria-hidden="true"></i>');
                delete dictObject[element1.id];
                for(var key in dictObject){
                    $('.box').append('<p class="checkList" value="'+ key +'" style="margin-right: 5px; cursor: pointer;"><b>'+ dictObject[key] +''+">"+''+ key +'</b><p/><i style="margin-right: 15px; margin-top:5px; cursor: pointer;" class="checkList fa fa-times" value="'+ key +'" aria-hidden="true"></i>');
                }   
            }

            return;

        }

        //지역 취소 클릭
        $(document).ready(function () {
            $('.box').on('click', '.checkList' ,function() {
                var city_name = $(this).attr('value');
                $('.box').html('<p style="margin-right: 5px; cursor: pointer;" onclick="reset();"><b>선택초기화</b><p/><i onclick="reset();" style="margin-right: 15px; margin-top:5px; cursor: pointer;" class="fa fa-repeat" aria-hidden="true"></i>');
                    delete dictObject[city_name];
                    for(var key in dictObject){
                        $('.box').append('<p class="checkList" value="'+ key +'" style="margin-right: 5px; cursor: pointer;"><b>'+ dictObject[key] +''+">"+''+ key +'</b><p/><i style="margin-right: 15px; margin-top:5px; cursor: pointer;" class="checkList fa fa-times" value="'+ key +'" aria-hidden="true"></i>');
                    } 

                    var checkboxes = document.getElementsByClassName("form-check-input");
                    for(var i=0; i<checkboxes.length; i++){
                        if(checkboxes[i].id == city_name){  
                            checkboxes[i].checked = false;
                        }
                    }
                
              });   
        });

        


        //선택초기화
        function reset() {

            for(var key in dictObject){
                delete dictObject[key]; 
            }
            
            var checkboxes = document.getElementsByClassName("form-check-input");
            for(var i=0; i<checkboxes.length; i++){
                if(checkboxes[i].checked == true){  
                    checkboxes[i].checked = false;
                }
            }
            $('.box').html('<p style="margin-right: 5px; cursor: pointer;" onclick="reset();"><b>선택초기화</b><p/><i onclick="reset();" style="margin-right: 15px; margin-top:5px; cursor: pointer;" class="fa fa-repeat" aria-hidden="true"></i>');
            return;
            }


        //검색하기
        $(document).ready(function () {
            $("#button1").click(function () {
                //체크박스 이벤트
                var checkboxes = document.getElementsByClassName("form-check-input");
                var locatemap = "{% url 'map' %}";
                var checkIndex = 0;

                for(var key in dictObject){
                    checkIndex++;
                    locatemap += "?";
                    locatemap += key;
                } 

                if(checkIndex > 0){
                location.href=locatemap;
                return; 
                }
                alert('선택된 지역이 없습니다.');
                return;
            });     
        });
        

        //지역명검색 이벤트
        function searchCity() {
        
        var city_name = $("#input1").val();
        var check = "";

        if( city_name.length < 2){
        alert('글자수가 적습니다. 검색은 두 글자 이상 가능합니다.');
        return;
        }

        {% for 도 in 도_광역시 %}
        check = '{{도.이름}}';
        if (city_name.includes(check) || check.includes(city_name)) {
            document.getElementById(check).click();  
            return;
        }
        {% endfor %}

        {% for 지 in 지역 %}
        check = '{{지.이름}}'
        if (city_name.includes(check) || check.includes(city_name)) {
            document.getElementById('{{지.도_광역시.이름}}').click();
            document.getElementById('{{지.이름}}').click();
            return;  
        }
        {% endfor %}
        alert('검색 결과가 없습니다. 띄어쓰기 공백 유의');

        return;

        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });
     
    </script>  

  </body>

</html>